  

  <!--
NAME @: Diljyot Singh
TOPIC @: RAG agent
DATE @: 14th July 2024
-->

  
  <!-----------------------------  BASE SECTION  ----------------------------------->

  {% extends "base.html"%}

  <!-------------------------------------------------------------------------------->

{% block content %}


  <!---------------------------  HOME BODY SECTION   ------------------------------>

<!-- Add a background color and large text to the whole page -->
<body>
<h2 align = "center"><b>ABOUT THE PROJECT</b></h2><br>

<p>An advanced Retrieval-Augmented Generation (RAG) agent designed to assist financial analysts by retrieving and summarizing relevant financial market data and news articles. This agent will fetch information from a large database of financial news and reports, providing concise summaries and insights to aid in investment decision-making.</p>


  <!-----------------------------  FORM SECTION  ----------------------------------->
  

  <!----------------------------------------------------------------------------->
<div style = "background-color: white; border: 5px solid;">
<form align = "center" method="POST" enctype=multipart/form-data>
    <br>
    <label for = "askai">Ask AI about Finance insights: </label>
    <input type = "text" id ="askai" name = "askai" placeholder = "Ask AI" required>
    <br><br>

    <input type = "reset" style = "background-color: black; color: white;">
    <input type = "submit" Value = "Submit" style = "background-color: black; color: white;">
</form>
<br>
<p><b>Finance AI: </b>{{response}}</p>
<div align = "center">
  <h3><b>Additional Information:</b></h3>
  <br>
  <p>Company: {{data.Symbol}}</p>
  <p>Exchange: {{data.Exchange}}</p>
  <p>EBITA: {{data.EBITA}}</p>
  <p>Price-to-Earnings (P/E) ratio: {{data.PERatio}}</p>
  <p>52 week High: {{data.52WeekHigh}}</p>
  <p>52 week Low: {{data.52WeekLow}}</p>
  <p>50 Day Moving Average: {{data.50DayMovingAverage}}</p>
  <p>200 Day Moving Average: {{data.200DayMovingAverage}}</p>
</div>
</div>

</body>

{% endblock %}

  <!-----------------------------  THE END  ----------------------------------->